body.light {
  --bg: #ffffff;
  --text: #111;
}

body.dark {
  --bg: #1e1e1e;
  --text: #f1f1f1;
}

body {
  font-family: Arial;
  background: var(--bg);
  color: var(--text);
  padding: 20px;
}

body .product {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #f3f4f6;
}

body .product h3 {
  margin-top: 0;
}
